.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 10px solid black;
}

.greencolor {
    background-color: forestgreen;
    width: 33.3%;
    height: 100vh;
}

.whitecolor {
    background-color: white;
    width: 33.3%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redcolor {
    background-color: red;
    width: 33.3%;
    height: 100vh;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
    /* height: ; */
}